<h1>@ViewBag.title</h1>

<form method="post">
    
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="verify">Verify Password</label>
        <input type="password" name="verify" class="form-control" />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Sign Up!" class="btn-primary" />
    </div>
    
</form>