@using UserSignup.Models
@model User

<h1>User Detail</h1>

<div>
    <label asp-for="Username"></label>
    <p class="text-info">@Model.Username</p>
</div>

<div>
    <label asp-for="Email"></label>
    <p class="text-info">@Model.Email</p>
</div>

<div>
    <label asp-for="DateJoined"></label>
    <p class="text-info">@Model.DateJoined</p>
</div>