<h1>User Detail</h1>

<div>
    <label for="username">Username</label>
    <p name="username">@ViewBag.user.Username</p>
</div>

<div>
    <label for="email">Email</label>
    <p name="email">@ViewBag.user.Email</p>
</div>

<div>
    <label for="dateJoined">Date Joined</label>
    <p name="dateJoined">@ViewBag.user.DateJoined</p>
</div>