@using UserSignup.Models
@model List<User>

@if(Model.Count == 0)
{
    <h1>Hello there! You should sign up!</h1>

} else{
    
        <table class="table-bordered">
            <tr>
                Currently Registered Users
            </tr>

            <tr>
                <th style="text-align:center"><h3>Username</h3></th>
                <th style="text-align:center"><h3>Email</h3></th>
                <th></th>
            </tr>

            @foreach (User user in Model)
            {
                <tr>
                    <td style="text-align:center">@user.Username</td>
                    <td style="text-align:center"><a asp-controller ="user" asp-action="detail" asp-route-id="@user.UserId">User Detail</a></td>
                </tr>

            }
        </table>
    
}